.example {
	float: left;
	width: calc(50% - 2rem);
	height: 200px;
	box-sizing: border-box;
	margin: 1rem;
	border: 1px solid #2E2E2E;

	svg {
		width: 100%;
		height: 100%;
	}
}

.stretch {
	@extend .example;
}
.cover {
	@extend .example;
}
.contain {
	@extend .example;
}
.svg-maximize {
	@extend .example;
}