html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="./css/index.css", rel="stylesheet")
		script(src="../svg-maximize.js")
		script(src="./js/index.js", async)
	body
		.svg-maximize
			include ./images/celestial-objects.svg
		.stretch
			include ./images/celestial-objects.svg
		.cover
			include ./images/celestial-objects.svg
		.contain
			include ./images/celestial-objects.svg